.twitter-typeahead { width: 100%; } 

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.button-box {
   text-align:center;
   margin-top:20px;
   margin-left: 95px;
   padding: 3px;
}

img {
        width : 150px;
        height : 150px;
    }

    .form-control {
        width : auto;
        display: inline-block;
    }
    .border {
        border-style : solid;
        border-width : medium;
    }
    input[type=submit] {
        background-color: blue;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        width: 80px;
        height: 30px;
    }
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.clearfix:after{clear:both;}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.floatLeft{float:left;}
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix{zoom:1;}
.txtC{text-align:center;}
p{margin-top:5px;margin-bottom:5px;}
.pvl{padding-top:20px!important;padding-bottom:20px!important;}
.mtn{margin-top:0!important;}
.mbn{margin-bottom:0!important;}
.h1{font-weight:300;font-style:normal;}
.h1{font-size:34px;line-height:1.3;margin:5px 0;}
.h7{font-size:13px;line-height:1.4;margin:5px 0;}
.typeEmphasize{font-weight:700!important;}
.typeCaps{text-transform:uppercase;}
*,:after,:before{box-sizing:border-box;}
.backgroundLowlight{background-color:#f5f6f7;}
.brs{border-right-style:solid;border-right-color:#cdd0d2;}
.brs{border-right-width:1px!important;}
::-webkit-input-placeholder{color:#b1b6bb;}
::-moz-placeholder{color:#b1b6bb;}
:-ms-input-placeholder{color:#b1b6bb;}
/*! CSS Used from: https://static.trulia-cdn.com/css/a375573/css/compiled/pages/local_info/crime.css */
.crime-box .crime-box-col{width:33.3333%;}
.crime-box-full-width .crime-box-col{width:20%;}
.crime-text-0{color:#254E70;}
.crime-text-1{color:#37718E;}
.crime-text-2{color:#55ca2e;}
.crime-text-3{color:#CA2E55;}
.crime-text-4{color:#CA2E55;}
.crime-text-5{color:#55ca2e;}

.crime-text-6{color:#ca432e;}




