h1 {
    text-align: center;
}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-align: center;
}
input[type=button] {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#map * {
    overflow:visible;
}
img {max-width: initial !important;}
